#mainScreen {
    border: 1px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    background-color: white;
    border-radius: 1.5%;
}


#watchBorder {
    background-color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    border-radius: 4%;
}

.container {
    text-align: center;
    margin: auto;
}

.comment {
    text-align: center;
    margin: auto;
    max-width: 70%;
}

#mainmenu {
    width: 100%;
    height: 100%;
    text-align: center;
}

#mainmenu div {
    width:35%;
    height: 35%;
    margin: 6.7%;
    border: 1px solid black; 
    display: inline-block;
    border-radius: 5%;
    text-align: center;
}

#mainmenu div span {
    padding: 0;
    padding-top: 45%;
    display: inline-block;
}

#backButton {
    background-color:black;
    position: absolute;
    top: 40%;
    border-radius: 20%;
}

#scrollWheel {
    background-color:black;
    position: absolute;
    top: 48%;
    border-radius: 20%;
}

.hide {
    display: none;
}

.show {
    display: initial;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navbar {
    border-top: 2px solid black;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar input {
    float: left;
    display: block;
    text-align: center;
    padding-left: 9%;
    padding-top: 3%;
    padding-bottom: 3%;
  }

.arrow {
    margin-top: 180%;
}

.imageShown {
    padding-top: 10%;
    width: 70%;
}